:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --primary-link-color: #212121;
  --link-hover-color: #2196f3;
  --animation-speed: 250ms;
  --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
}

img {
  display: block;
  margin: 0px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
}
@media (min-width: 480px) {
  .section {
    padding-bottom: 60px;
  }
}

header {
  border-bottom: 1px solid #ECECEC;
}

button {
  cursor: pointer;
}

.button {
  background: var(--link-hover-color);
  min-width: 216px;
  height: 50px;
  top: 430px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: inline-block;
  border-radius: 4px;
  padding: 10px 34px;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 auto;
  text-align: center;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.modal__close-btn {
  position: absolute;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-btn:hover .modal__icon-btn, .modal__close-btn:focus .modal__icon-btn {
  fill: var(--link-hover-color);
}

.modal__icon-btn {
  left: 50%;
  top: 50%;
  transition: fill 250ms var(--timing);
}

.form__btn {
  width: 200px;
  height: 50px;
  color: #ffffff;
  background-color: #2196F3;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
}
.form__btn:focus, .form__btn:hover {
  background-color: #188CE8;
}

.signup__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-right: 0;
  color: #ffffff;
  background-color: var(--link-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.signup__icon {
  fill: #ffffff;
  margin-left: 10px;
}

.filter__btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  background-color: #F5F4FA;
  border-radius: 4px;
  border: 0;
  padding: 6px 25px 6px 25px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
}
.filter__btn:hover, .filter__btn:focus {
  background-color: var(--link-hover-color);
  color: #FFFFFF;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.logo {
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: inline-block;
}
.logo:focus {
  color: var(--link-hover-color);
}

.logo__color-a {
  color: var(--link-hover-color);
}

.logo__color-b {
  color: #000000;
}

.logo-white {
  color: #ffffff;
}

.bottom-logo {
  margin-bottom: 20px;
}

.hero__section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero {
  max-width: 1600px;
  background-color: #2F303A;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bckgrd.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.hero h1 {
  margin-top: 0px;
  color: #ffffff;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.1882352941);
  opacity: 1;
  transition: opacity 250ms, var(--timing);
}
.backdrop.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  box-shadow: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing);
  transition-property: box-shadow, transform, background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
  z-index: 1;
}

.form__title {
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form__input {
  width: 100%;
  height: 40px;
  margin-bottom: 28px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  transition: border 250ms var(--timing);
}
.form__input:focus, .form__input:hover {
  border: 1px solid #2196F3;
}
.form__input:focus ~ .form__icon, .form__input:hover ~ .form__icon {
  fill: #2196F3;
}

.form__icon {
  position: absolute;
  top: 11px;
  left: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
}

.form__comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  outline: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--timing);
  margin-bottom: 20px;
}
.form__comment:focus, .form__comment:hover {
  border: 1px solid #2196F3;
}

.form__comment::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__field {
  display: block;
  position: relative;
}

.form__label {
  position: absolute;
  left: 0;
  top: -16px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.form__checkbox {
  appearance: none;
}
.form__checkbox:checked + .form__checkbox-icon .unchecked {
  opacity: 0;
}
.form__checkbox:checked + .form__checkbox-icon .checked {
  opacity: 1;
}

.form__checkbox-icon {
  vertical-align: -10%;
  line-height: 24px;
}
.form__checkbox-icon .unchecked {
  opacity: 1;
  transition: 250ms var(--timing);
}
.form__checkbox-icon .checked {
  opacity: 0;
  transition: 250ms var(--timing);
}

.agreement {
  display: inline-block;
  margin-bottom: 30px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
}

.agreement__link {
  color: var(--link-hover-color);
}

.page__icons-block {
  display: flex;
  background-color: #F5F4FA;
  justify-content: center;
  height: 120px;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.page__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0px;
}
@media (min-width: 480px) {
  .page__list {
    flex-wrap: wrap;
    margin-top: 60px;
    text-align: center;
  }
}
@media screen and (max-width: 479px) {
  .page__list {
    flex-wrap: wrap;
    margin-top: 60px;
    text-align: center;
  }
}

.page__title {
  color: var(--primary-title-color);
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 10px;
}

.page__item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  margin-right: 30px;
  line-height: 1.7;
}
.page__list > .page__item:nth-last-child(1) {
  margin-right: 0;
}
@media (min-width: 480px) {
  .page__item {
    margin-right: 0;
    width: 450px;
  }
}
@media screen and (max-width: 479px) {
  .page__item {
    margin-right: 0;
    width: 450px;
  }
}

.page__icon {
  --color1: #212121;
  --color2: #2196F3;
}

.section-activities {
  padding-top: 0px;
}

.activities {
  text-align: center;
  margin-top: 0px;
}

.activities__item {
  display: inline-block;
  max-width: 370px;
  max-height: 294px;
  margin: 0;
  padding: 0;
}

.team {
  justify-content: center;
  text-align: center;
  padding-top: 94px;
  background-color: #F5F4FA;
}/*# sourceMappingURL=main.css.map */