// Utils styles
@import './utils/var';
@import './utils/mixin';

// Base styles
@import "./base/base";
@import "./base/reset";

// Components styles
@import "./components/_container";
@import "./components/_section";
@import './components/header';
@import "./components/_buttons";
@import './components/logo';
@import './components/navigation';
@import './components/contact';
@import './components/hero';
@import './components/modal';
@import './components/modalform';
@import './components/page';
@import './components/activities';
@import './components/team';
@import './components/socials';
@import './components/customers';
@import './components/footer';
@import './components/signupform';
@import './components/portfolio';
@import './components/_cards';