.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer__container {
    display: flex;
    align-items: baseline;
    

    @include respond-to('mobile') {
            width: 480px;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            margin: 0;
            text-align: center;
        }
}

.footer__socials {
    margin-left: 70px;

    @include respond-to('mobile') {
        width: 480px;    
        margin-left: 0;
        }
}

.footer__socials .footer__title,
.signup__box .footer__title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}   

//footer socials
.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);

    &:hover,
    &:focus {
            background-color: var(--link-hover-color);
        }
}
// //footer contacts

address {
    padding: 0px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #ffffff;
}

.contacts-list .contacts-item {
    display: inline-block;
    text-decoration: none;
    color: #ffffff60;
    margin-bottom: 9px;
}

.footer-contacts {
    list-style-type: none;
    font-size: 14px;
    line-height: 1.7;
    margin: 0px;
    padding: 0px;
}