.hero__section {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero {
    max-width: 1600px;
    background-color: #2F303A;
    background-image: linear-gradient(to bottom,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/bckgrd.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    & h1 {
            margin-top: 0px;
            color: #ffffff;
            text-align: center;
            font-weight: 900;
            font-size: 44px;
            line-height: 1.4;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
}