.form__title {
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23/20);
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.form__input {

    width: 100%;
    height: 40px;
    margin-bottom: 28px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms var(--timing);

    &:focus,
    &:hover {
            border: 1px solid #2196F3;
        }
    &:focus~.form__icon,
    &:hover~.form__icon {
            fill: #2196F3;
                }
}

.form__icon {
    position: absolute;
    top: 11px;
    left: 15px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
}

.form__comment {
    width: 100%;
    height: 120px;

    padding: 12px 16px;
    resize: none;
    outline: transparent;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border 250ms var(--timing);
    margin-bottom: 20px;

    &:focus,
    &:hover {
        border: 1px solid #2196F3;
    }
}
.form__comment::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}
.form__field {
    display: block;
    position: relative;
}

.form__label {
    position: absolute;
    left: 0;
    top: -16px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14/12);
    letter-spacing: 0.01em;
    color: #757575;
}

.form__checkbox {
    appearance: none;
    &:checked+.form__checkbox-icon .unchecked {
            opacity: 0;
        }
    
    &:checked+.form__checkbox-icon .checked {
            opacity: 1;
        }
}

.form__checkbox-icon {
    vertical-align: -10%;
    line-height: 24px;

    & .unchecked {
            opacity: 1;
            transition: 250ms var(--timing);
        }
    & .checked {
            opacity: 0;
            transition: 250ms var(--timing);
        }
}




.agreement {
    display: inline-block;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24/14);
    letter-spacing: 0.03em;
    color: #757575;
    text-align: center;
}

.agreement__link {
    color: var(--link-hover-color);
}