.team {
    justify-content: center;
    text-align: center;
    padding-top: 94px;
    background-color: #F5F4FA;
}

.team__list {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 30px;

    &>.team__item {
            background-color: #FFFFFF;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            border-radius: 0px 0px 4px 4px;
        }
}

.team__title {
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 50px;
    color: var(--primary-title-color);
}

.team__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 10px;
    color: var(--primary-title-color);
}

.team__text {
    text-align: center;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 16px;
}

.team__content {
    padding: 30px;
}