   :root {
       --primary-text-color: #757575;
       --primary-title-color: #212121;
       --primary-link-color: #212121;
       --link-hover-color: #2196f3;
       --animation-speed: 250ms;
       --timing: cubic-bezier(0.4, 0, 0.2, 1);
   }