.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #2f303a;
}

.footer__container {
    display: flex;
    align-items: baseline;
}

.footer__socials {
    margin-left: 70px;
}

.footer__socials .footer__title,
.signup__box .footer__title {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
}   