.page__icons-block {
    display: flex;
    background-color: #F5F4FA;
    justify-content: center;
    height: 120px;
    align-items: center;
    margin-bottom: 30px;
    border-radius: 4px;
}

.page__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

.page__title {
    color: var(--primary-title-color);
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}

.page__item {
    display: inline-block;
    width: 270px;
    vertical-align: top;
    font-size: 14px;
    margin-right: 30px;
    line-height: 1.7;
    .page__list>&:nth-last-child(1) {
            margin-right: 0;
        }
}
.page__icon {
    --color1: #212121;
    --color2: #2196F3;
}