.social__list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 10px;
}

.social__link {
    display: flex;
    padding: 12px;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    color: #AFB1B8;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);

    &:hover,
    &:focus {
            background-color: #2196F3;
        }
}

.social__icon {
    fill: currentColor;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);
    
    .social__link:hover &,
    .social__link:focus & {
            fill: #ffffff;
        }
}

//footer socials
.footer__social-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 10px;
}

.footer__social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: var(--timing);

    &:hover,
    &:focus {
            background-color: var(--link-hover-color);
        }
}


